<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>로그인 페이지</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
  <!-- Bootstrap CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <style>
    body {
      background-color: #f8f9fa; /* Light background for the page */
    }
    .card {
      border-radius: 1rem; /* Rounded corners for the card */
    }
    .submitBtn {
      width: 100%; /* Full width for the submit button */
    }
  </style>
</head>

<body>
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh">
  <div class="card shadow">
    <div class="card-header text-center">
      <h4>로그인 페이지</h4>
    </div>
    <div class="card-body">
      <th:block th:if="${param.logout != null}">
        <div class="alert alert-info text-center">
          로그아웃 되었습니다.
        </div>
      </th:block>

      <form id="registerForm" action="/member/login" method="post">
        <div class="input-group mb-3">
          <span class="input-group-text">아이디</span>
          <input type="text" name="username" class="form-control" placeholder="USER ID(user1)" required>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">패스워드</span>
          <input type="password" name="password" class="form-control" placeholder="PASSWORD(12345)" required>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" name="remember-me" id="rememberMe">
          <label class="form-check-label" for="rememberMe">
            자동 로그인
          </label>
        </div>
        <div class="my-4">
          <button type="submit" class="btn btn-primary submitBtn">로그인</button>
        </div>
      </form>
      <div class="text-center mt-3">
        <a href="/member/register" class="btn btn-secondary">회원가입</a>
      </div>
      <div class="text-center mt-2">
        <a href="/oauth2/authorization/kakao" class="btn btn-outline-primary">KAKAO로 로그인</a>
      </div>
    </div><!--end card body-->
  </div><!--end card-->
</div>
</body>
</html>
