<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    .container {
    max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>상품 상세</h2>
  </div>

  <!-- -->
  <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
  <div>
    <label for="boardId">게시글 번호</label>
    <input type="text" id="boardId" name="boardId" class="form-control"
            th:value="${board.id}" readonly>
  </div>
  <div>
    <label for="title">제목</label>
    <input type="text" id="title" name="title" class="form-control"
           value="제목" th:value="${board.title}" readonly>
  </div>
  <div>
    <label for="content">내용</label>
    <textarea type="text" id="content" name="content" class="form-control" th:text="${board.content}">
    </textarea>
  </div>
  <div>
    <label for="author">작성자</label>
    <input type="text" id="author" name="author" class="form-control"
           value="10" th:value="${board.author.username}" readonly>
  </div>
  <div>댓글 수: <span th:text="${#lists.size(board.comments)}">0</span></div>

  <hr class="my-4">
  <div class="row">
    <div class="col">
      <button th:if="${loggedInUserId} == ${board.author.id}" class="w-100 btn btn-primary btn-lg"
              th:onclick="|location.href='@{/boards/{boardId}/edit(boardId=${board.id})}'|" type="button">상품 수정</button>
    </div>

    <div class="col">
      <form th:action="@{/boards/{boardId}/delete(boardId=${board.id})}" method="post" style="display:inline;">
        <input type="hidden" name="_method" value="delete" /> <!-- HTTP 메서드 오버라이드 -->
        <button class="w-100 btn btn-danger btn-lg" type="submit">삭제</button>
      </form>

    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='items.html'"
              th:onclick="|location.href='@{/boards}'|" type="button">목록으로</button>
    </div>
  </div>
</div> <!-- /container -->
</body>
</html>