<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/css/boardListStyles.css}" />
</head>
<body>
<div class="container" style="max-width: 600px">
  <div>
    <div th:if="${logIn == false}">
      <a class="login-check" href="/member/login">로그인</a>
    </div>
    <div th:if="${logIn == true}">
      <a class="login-check" href="/member/logout">로그아웃</a>
    </div>
  </div>
  <div class="py-5 text-center">
    <h2>상품 목록</h2>
  </div>
  <div class="row add">
    <div class="col">
      <button class="btn btn-primary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/boards/board/add}'|" type="button">글 등록
      </button>
    </div>
  </div>
  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>id</th>
        <th>제목</th>
        <th>작성자</th>
        <th>내용</th>
        <th>댓글 수</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board : ${boards}">
        <td><a href="board.html" th:href="@{/boards/{boardId}(boardId=${board.id})}" th:text="${board.id}">글 id</a></td>
        <td><a href="board.html" th:href="@{/boards/{boardId}(boardId=${board.id})}" th:text="${board.title}">제목</a></td>
        <td th:text="${board.authorName}">작성자</td>
        <td th:text="${board.content}">내용</td>
        <td th:text="${#lists.size(board.comments)}">댓글 수</td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>